/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack - applies to every element */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: #f0efef;
  font-size: 13px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
img-social {
  margin:10px;
}
h1, h2, h3 {
  font-weight:600;
}
h1 {
  color:#FFF;
  font-size:24px;
  text-align:center;
  margin:40px 0;
}
h2 {
  font-size:20px;
}
h3 {
  color:#f9e42e;
  font-size:24px;
  text-align:center;
  padding: 40px 0;
}
p, li {
  padding-bottom:10px;
}
p:first-child:first-letter {
    font-size: 96px; 
    float: left; 
    margin: 15px 15px 0 0; 
    line-height: 100px;
}
ul {
  list-style:disc inside;
}
li {
  line-height:18px;
}
blockquote, .cite {
  font-size:18px;
  text-align:center;
}
blockquote {
  font-style:italic;
  font-weight:300;
}
.cite {
  font-weight:600;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: 0 auto;
}
.header-hero {
  background-image: url("../images/header_bg.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:500px;
}
.header-standard {
  background:#033048;
  height:60px;
}
.logo-hero, .logo-standard {
   color:#FFF;
  font-size: 24px;
  font-weight: 800; 
  padding: 20px 10%;
}
.logo-hero {
}
.logo-standard {
  float:left;
  width:25%;
}
nav {
  display:inline;
  float:right;
  font-size:14px;
  font-weight:600;
  line-height:60px;
  text-align:right;
  top:20px;
  height:40px;
  width:75%;
}
nav ul {
  list-style:none;

}
nav ul li {
  display:inline;
}
nav ul li a {
 color:#f9e42e;
 height:40px;
 padding:10px 20px;
}
nav ul li a:hover {
  background:#f9e42e;
  color:#033048;
}
.column1, .column2 {
  margin:10px 0;
  float:left;
}
.column1 {
  width:700px;
}
.column2 {
  width:220px;
  margin-left:20px;
}
article {
  border-bottom:1px solid black;
}
.blog {}
.blog h1 {
  color:#121212;
  font-size:40px;
  font-weight:600;
  margin:40px 0;
  text-align:left;
}
.blog p, .column2 ul {
  font-size: 24px;
}
.column2 h2 {
  font-size:32px;
  font-weight:800;
}
.column2 p {
  font-size:22px;
}
.benefits {
  background:#f0efef;
  height:auto;
  padding:40px 10%;
}
.testimonial {
  background-image: url("../images/testimonial_bg.jpg");
  background-size:cover;
  color:white;
  height:auto;
  padding: 50px 35%;
}
.signup {
  background:#f9e42e;
}
footer {
  background:#121212;
}
.social {
  width:110px;
  margin:20px 425px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.clear {
  clear:both;
}
.read-more a, .learn-more a {
  color:#033048;
}
.read-more {
  font-size:24px;
  font-weight:600;
  text-align:right;
}
.learn-more {
  font-size:22px;
  font-weight:600;
}
.btn-yellow, .btn-black {
  border:none;
  border-radius: 5px;
  height:30px;
  width:16%;
  font-weight:600;
  padding: 4px 10px;
  margin: 15px 42%;
}
.btn-yellow a {
    color:#033048;
}
.btn-black a {
    color:white;
}
.btn-yellow a:hover, .btn-black a:hover {
  text-decoration:underline;
}
.btn-yellow {
  background:#f9e42e;
  color:#033048;
  font-size:14px;
}
.btn-black {
  background:#033048;
  color:#FFF;
  font-size:12px;
}
.copyright {
  color:white;
  font-size:9px;
  font-weight:600;
  text-align:center;
  padding:20px 0;
}

